<div ng-if="item.wdtDepicts.length > 0">
    <hr />
    <div><strong>{{ page.translation.home.id9 }}</strong></div>
    <div class="row">
        <div class="col-xs-12">
                <span ng-repeat="depict in item.wdtDepicts">
                    <a href="http://www.wikidata.org/wiki/{{ depict.qwd }}" target="_blank" class="label label-info">{{ depict.label }}</a>
                </span>
        </div>
    </div>
    <div ng-if="item.depicts.length == 0" style="margin-top: 20px;">
        <button class="btn btn-block btn-primary" ng-click="submit.nothingToAdd()"><span ng-if="submit.loading == false">{{ page.translation.home.id10 }}</span><i class="fa fa-spin fa-circle-o-notch" ng-if="submit.loading == true"></i></button>
    </div>
</div>
<div ng-if="item.depicts.length == 0 && item.wdtDepicts.length == 0" style="margin-top: 20px;">
    <button class="btn btn-block btn-warning" ng-click="submit.pass()"><span ng-if="submit.loading == false">{{ page.translation.home.id11 }}</span><i class="fa fa-spin fa-circle-o-notch" ng-if="submit.loading == true"></i></button>
</div>