<div ng-if="search.languageDefinition == false" class="col-xs-12 div-langage">
    <div class="col-sm-3">
        <label style="margin-top: 6px;">Please, choose your favorite language:</label>
    </div>
    <div class="col-sm-9">
        <div class="btn-group btn-goup-sm">
            <a role="button" id="btnEn" class="btn btn-default" ng-click="setLanguage('en');">English</a>
            <a role="button" id="btnFr" class="btn btn-default" ng-click="setLanguage('fr');">Français</a>
        </div>
    </div>
</div>