<div ng-if="topMangement == 'down'" class="col-xs-12 jumbotron text-center" style="padding: 10px;">
    <div>
        <div class="pull-right">
            <a ng-click="topManagement()" class="a"><i class="fa fa-chevron-down"></i></a>
        </div>
        <h2>{{ page.translation.home.helpid1 }}</h2>
    </div>
</div>
<div ng-if="topMangement == 'up'" class="col-xs-12 jumbotron text-center">
    <div ng-if="search.language == 'fr'" ng-include="'Home/tpl/Home-top-contentFR.html'"></div>
    <div ng-if="search.language == 'en'" ng-include="'Home/tpl/Home-top-contentEN.html'"></div>
</div>