<div id="HomeContainer">
    <div class="row" ng-include="'Home/tpl/Home-top.html'"></div>
    <div class="row" ng-include="'Home/tpl/Home-language.html'"></div>
    <div id="body">
        <div class="row" ng-if="page.loading == true">
            <div class="col-xs-12 text-center" style="font-size: 200%">
                <i class="fa fa-5x fa-spin fa-circle-o-notch"></i>
            </div>
        </div>
        <div class="row" ng-if="page.loading == false">
            <div class="col-sm-6 text-center" ng-include="'Home/tpl/Home-image.html'"></div>
            <div class="col-sm-6" ng-include="'Home/tpl/Home-depict.html'"></div>
        </div>
    </div>
</div>